<tr>
    <td>{{car.model}}</td>
    <td>{{car.color}}</td>
    <td>{{car.registration}}</td>
    <td>{{car.registrationDate|date("d/m/Y")}}</td>
    <td>{{car.fuel.value}}</td>
    
    {# NOTE : important bit of logic here : if the Driver has registered a carshare using the hereby specified vehicle, he will NOT
    be able to access or remove said vehicle, instead must choose to cancel the carshare itself #}

    {% set carLocked = false %} {# boolean verif car locking variable #}
    {% set lockedCarshare = null %}
    {% for carshare in app.user.carshares %}
    {% if carshare.car.id == car.id%}
        {% if carshare.status.value == 'pending' or carshare.status.value == 'in_progress'  %}
        {% set carLocked = true %}
        {% endif %}
    {% set lockedCarshare = carshare.arrivalLocation %} {# retrieve back and store the locking carshare's id for generating the link to it #}
    {% endif %}
    
    {% endfor %}

    {% if not carLocked %}
    <td><a class=" text-info" href="{{path('app_car_edit', {'id': car.id})}}">Edit</a></td>
    <td><a class="text-danger" href="{{path('app_car_delete', {'id': car.id})}}">Remove</a></td>
    {% else %}
    <td><a class=" text-info" href="#carshare-listing">Car locked by a route</a></td>
    <td><a class=" text-danger" href="#carshare-listing">Car in use by your {{lockedCarshare}} route</a></td>
    {% endif %}
</tr>